article  {
    clear: both;
}

ul#team_members {
    margin-top: 1.5ex;
    float: left;
    width: 100%;
}
   ul#team_members li {
       float: left;
       margin-bottom: 2ex;
       width: 146px;
       margin-right: 1em;
   }

   ul#team_members div.team_member p {
       font-size: 80%;
   }

   ul#team_members div.team_member em {
       display: block;
       font-weight: bold;
       color: #333;
   }

ul#projects {
    list-style-type: disc;
    padding-left: 2ex;
}