{% extends "base.html" %}

{% load sekizai_tags i18n staticfiles %}

{% block base_content %}

{% addtoblock "css" %}
   <link rel="stylesheet" type="text/css" href="{% static "css/about.css" %}" />
{% endaddtoblock %}

<section>
  <h1>{% trans "About Us" %}</h1>
  <article>
    <h3>{% trans "Who we are" %}</h3>
    <p>{% trans "A mixed team of technology enthusiasts with experience in software development, integration & support, and custom machinery design." %}
    </p>
    <p>{% trans "We have been developing python/Django web sites, web applications and web services for quite a while. As well as designing and builiding robotics devices and Arduino systems." %}
    </p>
    <h4>{% trans "Team" %}</h4>
    <ul id="team_members">
      <li>
        <img src="{% static "img/martin.jpg" %}"/>
        <div class="team_member">
          <p>
            <em>Martín Fuentes</em>
            <span class="role">{% trans "Founder / CEO" %}</span>
          </p>
        </div>
      </li>
      <li>
        <img src="{% static "img/photo-img.png" %}"/>
        <div class="team_member">
          <p>
            <em>Alejandro Olariaga</em>
            <span class="role">{% trans "CTO" %}</span>
          </p>
        </div>
      </li>
      <li>
        <img src="{% static "img/photo-img.png" %}"/>
        <div class="team_member">
          <p>
            <em>Javier Fuentes</em>
            <span class="role">{% trans "COO" %}</span>
          </p>
        </div>
      </li>
      <li>
        <img src="{% static "img/antonio.png" %}"/>
        <div class="team_member">
          <p>
            <em>Antonio Barcia</em>
            <span class="role">{% trans "Technical Advisor" %}</span>
          </p>
        </div>
      </li>
    </ul>
  </article>
  <article>
    <h3>{% trans "What we do" %}</h3>
    <p>{% trans "We develop customized software and hardware solutions for scientific and R&D groups, enterprises or particulars. Also, we design machinery to solve specific needs, specialized in sea devices." %}</p>
    <p>{% trans "We've been doing: " %}
    <ul id="projects">
      <li><p>{% trans "CMS-powered websites developed using python/Django." %}</p></li>
      <li><p>{% trans "An API and an administration site for jellyfishes' sigthings reporting, validation and sharing." %}</p></li>
      <li><p>{% trans "An Arduino-based pot watering system." %}</p></li>
      </ul>
  </article>
  <article>
    <h3>{% trans "Why we do it" %}</h3>
    <p>{% trans "Because we are technology geeks with great interest in science-related projects. We love to give technical support and solutions for them. And for anyone who can find our expertise useful!" %}<p>
  </article>
</section>
{% endblock %}
