{% extends "base.html" %}

{% load sekizai_tags %}

{% addtoblock "js" %}
  <script type="text/javascript">
    $(window).ready(function(){
    $('.bxslider').bxSlider({
    adaptiveHeight: true,
                    auto: true,
    autoStart: true,
    pause: 5000
    })
            });
  </script>
{% endaddtoblock %}

{% block base_content %}
<section class="slides">
  <ul class="bxslider">
    <li>
      <div class="message">
        <h1>Developing <span>customized software</span>
          and <span>hardware solutions</span> for science,
          R&D groups, enterprises or particulars.</h1><br/>
      </div>
    </li>
    <li>
      <div class="message">
        <h1><span>Hardware development:</span><br/>
          Machinery designed<br/>
          to solve specific<br/>
          needs, specialized in sea devices.</h1><br/>
      </div>
    </li>
  </ul>
</section>
<!-- TODO Fill this
<section class="work">
  <h2>Our Work</h2>
  <ul class="work">
    <li>
      <a href="#">
        <img src="{{ STATIC_URL }}img/work.png"/><br/>
        <span>lorem ipsum dolor sit amet</span>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="{{ STATIC_URL }}img/work.png"/><br/>
        <span>lorem ipsum dolor sit amet</span>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="{{ STATIC_URL }}img/work.png"/><br/>
        <span>lorem ipsum dolor sit amet</span>
      </a>
    </li>
  </ul>
</section>
-->
{% endblock %}
